/*
This stylesheet reflects the changes in the [$:/themes/ThemeTweaks tiddler inside the wiki, for reference. It contains additional CSS tweaks to the theme which overwrite the default settings in [[$:/themes/tiddlywiki/snowwhite]], the main stylesheet.

Changes are first attempted from withing TiddlyWiki's ControlPanel (cog icon), and then here if the option is missing.

I will attempt to follow each tweak with a short explination of what it does, and why.
*/


/*
Changes the background to a gradient, similar to what I have on tawnow.com (the blog)
*/
	  

.tc-body {
    background-image: linear-gradient(230deg, #eee8d5 0%, #aa8970 190%);
}

/*
Font for Tiddler titles and sub-titles
*/

h1, h2, h3, h4, h5, h6 {
    font-family: Arvo;
}
	  
/*
Make the tiddler controls icons a bit smaller than the title next to it. This also affects the text in the controls' pop-up menu.
*/

.tc-tiddler-controls {
    font-size: 25px;

}

/*
I created an [[image macro]] tiddler in TiddlyWiki, which creates a .TW-image class. This makes the image float to the right, so the text will be next to it to the left.

TW-url is essentially the same macro, just for URLs instead of images in the images library. Same style, included max width.
*/

.TW-image {
    float: right;
    margin-left: 1em;
    margin-top: 0em;
}

.TW-url {
    float: right;
    margin-left: 1em;
    margin-top: 0em;
}


/*
righteous font is loaded from [[GoogleFonts]].
*/

.tc-site-title {
    font-size: 4em;
    font-family: Righteous;
    width: 4.5em;
    line-height: 1.2em;
}

/*
round up the corners of the tiddlers a bit
*/

.tc-tiddler-frame {
  padding: 28px 42px 42px 42px;
  border-radius: 1em;
  overflow: auto;
}

/*
Make the "code" elements match the Robot font I use throughout the wiki better 
*/

code {
    padding: 2px 5px 1px 2px;
    margin: .1em;
}

/*
Changes the style of the horizontal bar to fit better with the theme
*/

hr {
height: 0;
border-block-style: dashed;
color: #8b0000;

}

/*
the kbd tag for keyboard press needs more margin space between the border and first character of the next word. This fixes it.
*/

kbd {
    margin-right: .1em;
}

/*
This changes the color of the border and the headers of the CaptainLog tiddlers.
The tag pill color is changed in the built-in tag manager; the little icon of the book is imported from: https://morosanuae.github.io/tw-icons/

There are more options we could use besides the data-tags*, this is explained in https://tiddlywiki.com/static/Custom%2520styles%2520by%2520data-tags.html 
*/


[data-tags*="CaptainLog"] {
    border-color: #055f73;
}

/*
Using the same method as above, changing the color of the titles and links to the same color
*/

[data-tags~="CaptainLog"] h1,
[data-tags~="CaptainLog"] h2,
[data-tags~="CaptainLog"] h3,
[data-tags~="CaptainLog"] h4,
[data-tags~="CaptainLog"] h5,
[data-tags~="CaptainLog"] h6 {
    color: #055f73;
    
}

[data-tags*="CaptainLog"] a {
    color: #055f73;
}

/*
The CaptainLog tiddler itself is not tagged with CaptainLog, so we repeat the above CSS rules for this specific tiddler by its title
*/


[data-tiddler-title="CaptainLog"] h2,
[data-tiddler-title="CaptainLog"] a {
    color: #055f73;
}

[data-tiddler-title="CaptainLog"] {
    border-color:  #055f73;
}
